<app-header (searchPattern)="searchContact($event)" (sortType)="sort($event)"  ></app-header>

<div class="section">
  <div class="container">
    <div class="columns is-multiline is-desktop">
      <div *ngFor="let user of listOfContacts" class="column is-full-mobile is-two-thirds-tablet
           is-two-fifths-desktop is-one-third-widescreen is-one-third-fullhd">
        <div class="card">
          <div class="header">
            <div class="avatar">
              <img alt="ava" src="{{user.avatar}}">
            </div>
          </div>
          <div class="card-body">
            <div class="user-meta has-text-centered">
              <h3 class="name">{{user.name}}</h3>
              <h5 class="position"><i class="fa fa-user on mar-icon"></i>{{user.username}}</h5>
            </div>
            <div class="user-contact has-text-centered">
              <ul>
                <li class="contact-item"><i class="fa fa-envelope mar-icon"></i>{{user.email}}</li>
                <li class="contact-item"><i class="fa fa-phone mar-icon"></i>{{user.phone}}</li>
                <li class="contact-item"><i class="fa fa-globe mar-icon"></i>{{user.website}}</li>
              </ul>
            </div>

            <div class="action has-text-centered">
              <a (click)="getProducts(user)" class="button is-small">Edit profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="link-button" href="https://gitlab.com/nazarbek7/contact-book" target="_blank">
    <img src="https://www.stickpng.com/assets/images/5847f997cef1014c0b5e48c1.png">
  </a>
</div>


<!-- Edit profile Modal -->
<div [ngClass]="{ 'is-active' : isModalShowEditProfile }" class="modal" *ngIf="selectedContact">
  <div (click)="closeModal()" class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-centered">Profile {{selectedContact.name}}</p>
      <button (click)="closeModal()" aria-label="close" class="delete"></button>
    </header>
    <section class="modal-card-body">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Name</label>
            <div class="control"><input [(ngModel)]="selectedContact.name" class="input" type="text"></div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Usename</label>
            <div class="control"><input [(ngModel)]="selectedContact.username" class="input" type="text"></div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Email</label>
            <div class="control"><input [(ngModel)]="selectedContact.email" class="input" type="text"></div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Phone</label>
            <div class="control"><input [(ngModel)]="selectedContact.phone" class="input" type="text"></div>
          </div>
        </div>
      </div>
      <div class="columns margin-fav">
        <div class="column is-6">
          <div class="field">
            <label class="label">Avatar</label>
            <div class="control"><input [(ngModel)]="selectedContact.avatar" class="input" type="text"></div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Website</label>
            <div class="control"><input [(ngModel)]="selectedContact.website" class="input" type="text"></div>
          </div>
        </div>
        <div class="column">
          <label class="label">Favorite</label>
          <input class="checkbox check-fav" type="checkbox">
        </div>
      </div>
      <!-- Modal Header Menu -->
      <div class="tabs is-centered is-boxed">
        <ul>
          <li [class.is-active]="showAddress">
            <a (click)="toggleEditor('address')">
              <span class="icon is-small"><i class="fa fa-map-marker"></i></span>
              <span>Address</span>
            </a>
          </li>
          <li [class.is-active]="showCompany">
            <a (click)="toggleEditor('company')">
              <span class="icon is-small"><i class="fa fa-building"></i></span>
              <span>Company</span>
            </a>
          </li>
          <li [class.is-active]="showPost">
            <a (click)="toggleEditor('post')">
              <span class="icon is-small"><i class="fa fa-comments-o"></i></span>
              <span>Post</span>
            </a>
          </li>
          <li [class.is-active]="showAccountHistory">
            <a (click)="toggleEditor('account-history')">
              <span class="icon is-small"><i class="fa fa-history"></i></span>
              <span>History Account</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- End of Header Modal Menu -->

      <!-- Show Address Menu -->
      <div *ngIf="showAddress && selectedContact.address" class="container">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Street A</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.streetA" class="input" type="text">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Street B</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.streetB" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Street C</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.streetC" class="input" type="text">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Street D</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.streetD" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">City</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.city" class="input" type="text"></div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">State</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.state" class="input" type="text"></div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Country</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.country" class="input" type="text">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">ZipCode</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.zipcode" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <h1 class="label boder-up-text">Geo Location</h1>
        <div class="columns">

          <div class="column">
            <div class="field">
              <label class="label">Latitude</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.geo.lat" class="input" type="text">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Longitude</label>
              <div class="control"><input [(ngModel)]="selectedContact.address.geo.lng" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Show Address Menu -->

      <!-- Show Company Menu -->
      <div *ngIf="showCompany" class="container">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Company Name</label>
              <div class="control"><input [(ngModel)]="selectedContact.company.name" class="input" type="text"></div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Street B</label>
              <div class="control"><input [(ngModel)]="selectedContact.company.catchPhrase" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-6">
            <div class="field">
              <label class="label">Street C</label>
              <div class="control"><input [(ngModel)]="selectedContact.company.bs" class="input" type="text"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Show Company Menu -->

      <!-- Show Post Menu -->
      <div *ngIf="showPost" class="container">
        <div *ngFor="let post of selectedContact.posts" class="">
        <div class="field is-horizontal">
          <div class="is-normal">
          <label class="label label-word">Words</label>
          </div>
          <div *ngFor="let word of post.words" class="">
            <div class="field mar-w">
            <input [(ngModel)]="word" class="input" type="text">
          </div>
            </div>
        </div>

          <label class="label">Sentence</label>
          <textarea [(ngModel)]="post.sentence" class="textarea"></textarea>

          <label class="label">Sentences</label>
          <textarea [(ngModel)]="post.sentences" class="textarea"></textarea>

          <label class="label">Paragraph</label>
          <textarea [(ngModel)]="post.paragraph" class="textarea"></textarea>
          <hr>
        </div>
      </div>
      <!-- End of Show Post Menu -->

      <!-- Show Account History Menu -->
      <div *ngIf="showAccountHistory" class="container">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Amount</label>
              <div class="control"><input [(ngModel)]="selectedContact.accountHistory[0].amount" class="input" type="text">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Date</label>
              <div class="control"><input [(ngModel)]="selectedContact.accountHistory[0].date" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Business</label>
              <div class="control"><input [(ngModel)]="selectedContact.accountHistory[0].business" class="input" type="text">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Name</label>
              <div class="control"><input [(ngModel)]="selectedContact.accountHistory[0].name" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Type</label>
              <div class="control"><input [(ngModel)]="selectedContact.accountHistory[0].type" class="input" type="text">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Account</label>
              <div class="control"><input [(ngModel)]="selectedContact.accountHistory[0].account" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Show Company Menu -->
    </section>
    <footer class="modal-card-foot">
      <button (click)="closeModal()" class="button is-danger">Cancel</button>
      <button (click)="saveEdit()" class="button is-success">Save</button>
    </footer>
  </div>
</div>
<!-- End of Edit profile Modal -->

