$primary: #006699;
$secondary: #292961;
$section: #ededed;
$muted: #999;

body {
  position: relative;
  height: 100%;
  width: 100%;
}

.columns {
  margin-top: 0;
}

.section {
  background-color: $section;
  min-height: 75vh;
  position: relative;
  .card {
    border-radius: 6px;
    overflow:hidden;
    max-width: 380px;
    //max-height: 380px;
    margin: 0 auto;
    .header {
      height: 60px;
      background: $primary;
      .avatar {
        width: 80px;
        height: 100%;
        position: relative;
        margin: 0 auto;
        img {
          display: block;
          border-radius: 50%;
          position: absolute;
          bottom: -41px;
          border: 4px solid white;
          width: 80px;
          height: 80px;
        }
      }
    }
    .card-body {
      padding: 30px;
      .user-meta {
        padding-top: 20px;
        .mar-icon {
          margin-right: 0.5rem;
        }
        .name {
          font-size: 18px;
          font-weight: 600;
        }
        .position {
          margin-top: 0.3rem;
          font-size: 90%;
          color: $primary;
          text-align: center;
        }
      }
    }
    .user-contact {
      li {
        margin-top: 0.7rem
      }
      .contact-item {
        //border-bottom: 1px solid #00D1B2;
        padding-top: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        text-align: left;
        padding-bottom: 0.4rem;
      }
      .mar-icon {
        margin-right: 0.5rem;
      }
    }
    .action {
      padding-top: 20px;
      .button {
        padding: 16px 20px 16px 20px;
        background: $primary;
        border-color: $primary;
        color: white;
        border-radius: 100px;
        transition: opacity .3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

//Css Ninja link
.link-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $primary;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  img {
    width: 32px;
    height: 32px;
    display: block;
  }
  &:hover {
    transform: scale(1.1) rotate(180deg);
    background: $secondary;
  }
}


/* Modal Card */
.modal-card {
  width: 90%;
  height: auto;

  .modal-card-body {
    .columns {
      /*Design Checkbox*/
      .checkbox {
        width: 79px;
        height: 36px;
        background: green;
        float: left;
        //margin: 5px;
        -webkit-appearance: none;
        border: none;
        border-radius: 0;
        box-sizing: border-box;
        position: relative;
        outline: none;
      }
      .checkbox:before, .checkbox:after {
        content: '';
        display: block;
        position: absolute;
      }
      .check-fav {
        width: 80px;
        height: 40px;
        background: linear-gradient(0deg, #333, #000);
        border-radius: 100px;
        box-shadow:
          0 0 0 2px #353535 inset,
          0 0 0 3px #3e3e3e inset,
          0 0 10px black inset;
      }
      .check-fav:before, .check-fav:after {
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
      }
      .check-fav:before {
        width: 50px;
        height: 32px;
        border-radius: 100px;
        box-shadow: 0 0 0 1px #232323;
        margin-left: 4px;
        background: linear-gradient(0deg, #000, #6b6b6b);
      }
      .check-fav:after {
        margin-left: 35px;
        width: 5px;
        height: 5px;
        background: linear-gradient(0deg, #6b6b6b, #000);
        border-radius: 50%;
      }
      .check-fav:checked {
        background: linear-gradient(0deg, #6dd1ff, #20b7ff);
        box-shadow:
          0 0 0 2px #353535 inset,
          0 0 0 3px #3e3e3e inset,
          0 0 10px black inset;
      }
      .check-fav:checked:before{
        margin-left: 26px;
      }
      .check-fav:checked:after{
        background: #63cdff;
        margin-left: 60px;
        box-shadow: 0 0 5px #13b3ff,0 0 15px #13b3ff;
      }
      /*End of Checkbox Design*/
    }
    .boder-up-text {
      border-top: 1px solid #006699;
      margin-top: 1.2rem;
      padding-top: 0.5rem;
      font-weight: 300;
      font-size: 23px;
    }
    .label-word {
      margin-right: 2rem;
      margin-top: 5px;
    }
    .mar-w {
      margin-right: 5rem;
    }
  }
}

@media only screen and (max-width: 670px) {
  .margin-fav {
    margin-bottom: 3rem;
  }
  .label-word {
    margin-bottom: 5px;
  }
  .mar-w {
    margin-bottom: 1rem;
  }
}
