<nav aria-label="main navigation" class="navbar" role="navigation">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://contact-books.herokuapp.com/">
      <h1 class="logo-name">Contact Book Sibers</h1>
    </a>

    <a #navBurger (click)="toggleNavbar()" aria-expanded="false" aria-label="menu" class="navbar-burger burger"
       data-target="navbarBasicExample" role="button">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div #navMenu class="navbar-menu" id="navbarBasicExample">
    <div class="navbar">
      <div class="navbar-item">
        <div class="field has-addons">
          <div class="control has-icons-left">
            <input [(ngModel)]="pattern" class="input is-transparent" placeholder="Search" type="text">
            <span class="icon is-left"><i class="fa fa-search"></i></span>
          </div>
          <div class="control">
            <a (click)="search()" class="button is-info btn">Search</a>
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Sorting</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-fullwidth is-info">
                  <select (ngModelChange)="sort()" [(ngModel)]="sortingType">
                    <option [value]="ALPHA">Sort contacts alphabetically</option>
                    <option [value]="GROUP">First letter grouping</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>
