.navbar {
  min-height: 5.25rem;
  .logo-name {
    font-size: 22px;
    font-weight: 400;
    color: #006699;
    letter-spacing: 3px;
    padding-left: 12rem;
    font-family: monospace;
  }
}
.navbar-menu   {
  justify-content: center;

  .btn {
    background-color: #006699;
  }
  .select.is-info select {
    border-color: #006699 !important;
  }
  .select.is-info:not(:hover)::after {
    border-color: #006699;
  }
}

@media screen and (max-width: 1420px) {
  .logo-name {
    padding-left: 0px !important;
  }
}
