<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Copyright © 2019</strong> by <a href="https://gitlab.com/nazarbek7">Nazarbek Erkinov</a>.
    </p>
  </div>
</footer>
